body{
    margin: 0;
    width: 100%;
    text-align: justify
    font-family:'Amiko', sans-serif;
    
    font-size: 16pt;
    background-color: black;
    
}
header{
    width:95%;
    margin:30px;
    padding-left: 20px;
    background-color: white
}

h1{
    margin: auto;
    font-family: 'Noto',sans-serif;
    text-align: center;
    
}

h2{
    width: 100%;
    margin:30px;
    font-size:20px
}

.exercises{
    margin:30px;
    width:30%;
    padding: 20px;
    padding-bottom: 100px;
    
    float: left;
    border: solid;
    border-color:gray;
    background:white;
}

.projects{
    width: 100%;
    padding:20px;
    margin:30px;
    align-content: center;
    color: white;
}

.about_me{
    margin-left: 25%;
    align-content: center;
    padding: 30px;
    color:whitesmoke
    /*margin:auto;
    width:auto;
    padding:inherit;
    align-content: center;
    float:right;
    text-decoration-color:*/ 
}
/*links*/

a:link{
    color:darkslateblue;
}

a:visited{
    color:blueviolet;
}

a:hover{
    color:skyblue;
}

a:active{
    color:aquamarine
}
/*end links*/
    

img{
    width: 100%; 
    
}

img#Headshot{
    width:350px;
    padding:30px;
    margin-top: -200px;
    position:static;
    float:right
}

footer{
    width:40%;
    padding:30px;
    color:white;
    
}
/*Mobile Layout */

@media only screen and (max-width:500px) {   
    body{
        width: 70%;
        padding: 2% 2%;
    } 
    
    img{
        width: 70%;
        align-content: center;
    }
    
    img#Headshot{
        width:65%;
        margin:6px;
        align-content: center;
    }
    
    header{
        width:70%;
        align-content: center;
    }
    
    .projects{
        width:100%;
        text-align: center;
         color:whitesmoke;
    }
    
    .exercises{
        width:70%;
        padding: 20px;
        margin-left:%;
        margin-right:
        text-align: left;
        align-content: center
    }
    .about_me{
        width:70%;
        margin-top: 60%;
        padding:10%;
        text-align:left;
        color:whitesmoke;
    }
    
    footer{
        width:70%;
        text-align: center;
    }
