body{
    width:100%;
    padding: 25px;
    font-family:'Andada', serif;
    font-size:16pts;
}

h1{
    width: 75%;
    padding:0%;
    font-family:'Bungee', sans-serif;
    font-size: 40pt;
    text-align: center;
    position: relative;
    left:60px;
    border: solid;
    border-style: dashed;
    border-width:thick;
    border-color:cornflowerblue
    
}

article{
    width:500;
    padding:16px;
    border: solid; 
}

#orlando{
    position:relative;
    top:25px;
}

#flo{
    position:relative;
    left:45%;
    bottom:434px;
}

#silver{
    position:relative;
    bottom:283px;
}

#blue{
     position:relative;
    left:45%;
    bottom:570px
}

#name{
    width:50%;
    padding:2px;
    font-family:'Aldrich',sans-serif;
    font-size: 15pt;
}

#contact{
    width:100%;
    padding:2px;
    font-family:'Aldrich',sans-serif;
    font-size:12pt;
    border-bottom:dashed;
    border-bottom-color:blueviolet;
    border-bottom-width:medium;
}

#intro{
    width:100%;
    padding:2px;
    font-family:'Andada',serif;
    font-size:12pt;
    border-bottom:dashed;
}

#pitch{
    width:100%;
    padding:4px;
    font-family:'Aldrich',sans-serif;
    font-size:13pt;
    border-bottom:dashed;
}

p{
    width:100%;
    padding:4px;
    font-size:12pt;
}

/*Mobile layout*/

@media only screen and (max-width:500px){
    body{
        background-color: cornflowerblue;
    }
    
    h1{
        width:75%;
        font-size:18pt;
        padding: 1px;
        align-content: center;
        border-color: white;   
    }
    
    article{
        width:75%;
        height: auto;
        padding:2%;
        align-content: center;
        background-color: white
    }
    #orlando{
         position:relative;
        top:15px;
        left:50px
    }
    
    #flo{
        position:relative;
        top:30px;
        left:50
    }
    
    #silver{
        position:relative;
        top:40px;
        left:50px;
    }
    
    #blue{
        position:relative;
        top:45px;
        left:50px;
    }
    }
}