body {
    width: 100%; margin:0%;
    padding:10;
    font-family: 'Dosis', sans-serif;
    font-size: 1.75vw;
  color:whitesmoke;
    background-color: black
}

h1{
    width: 100%;
    padding:100;
    text-align: left;
    font-family: 'Cinzel', serif;
    color: whitesmoke;
    font-size:2.5vw;
}

.img-circle{border-radius: 50%;
margin-left: auto;
margin-right: auto;
}

img {
    width: 100%;
    padding:70px;
}
img#lotus{
    width:20%;
    padding:30px;
    float:left;
}
img#rude{
    width:20%;
    display:block;
    margin:auto;
    float:center:
}
img#youth{
    width:20%;
    padding:30px;
    float:right     
}
